<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 750px;margin:0;font-family:"微软雅黑";}
        #allmap{width:100%;height:750px;}
        p{margin-left:5px; font-size:14px;}
    </style>
    <link href="https://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=Gcc7mlNUZKjkN0vixtWQt0WBk8hVzgSu"></script>
    <script src="https://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>

    <title>苏通卡网点</title>
    <style>
    .btn-success{
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }
    </style>
</head>
<body>
<div id="r-result">
    <input type="button" class="btn btn-success btn-xs" onclick="add_control();" value="显示图例" />
    <input type="button" class="btn btn-info btn-xs" onclick="hide_control();" value="隐藏图例" />
</div>
<div id="allmap"></div>

</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(119.442117,33.17838),8);
    var bdary = new BMap.Boundary();

    bdary.get("江苏省", function(rs){       //获取行政区域
        //smap.clearOverlays();        //清除地图覆盖物
        var count = rs.boundaries.length; //行政区域的点有多少个
        if (count === 0) {
            alert('未能获取当前输入行政区域');
            return ;
        }
        var pointArray = [];
        for (var i = 0; i < count; i++) {
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 4, strokeColor: "#547EBF",fillColor: ""}); //建立多边形覆盖物
            map.addOverlay(ply);  //添加覆盖物
            pointArray = pointArray.concat(ply.getPath());
        }
        map.setViewport(pointArray);    //调整视野
    });


    //------------------------------------客服中心--正常

    $.get('/webPointController/queryPointList',{},function (result) {
        for(var i=0;i<result.length;i++) {
//            alert(result[i].status); return false;
            if(result[i].status == 1){
//                alert(result[i].status); return false;
                var opts = {
                    width : 380,     // 信息窗口宽度
                    height: 240,     // 信息窗口高度
                    title : "<font style='font-size: 16px;font-weight:bold'>"+result[i].pointType +"</font>&nbsp;&nbsp;<img src='images/mapImg/open.png' style='width:15px;height:15px'; title='正常'>" , // 信息窗口标题
                    enableMessage:true//设置允许信息窗发送短息
                };
                var myIcon =new BMap.Icon("images/mapImg/fwwd_open.png", new BMap.Size(25, 30), { offset: new BMap.Size(0, -5),imageOffset: new BMap.Size(-5, 0) });//创建标注图标
                var marker = new BMap.Marker(new BMap.Point(result[i].x,result[i].y),{icon:myIcon});  // 创建标注
                var content ="<br><font style='font-size: 13px;'>网点名称："+result[i].pointName+"<br>网点地址："+result[i].address+"<br>网点电话："+result[i].telephone+"<br>营业范围："+result[i].service+"<br>营业时间："+result[i].date+"</font>";
                map.addOverlay(marker);               // 将标注添加到地图中
                addClickHandler(content,marker,opts);
              }else if (result[i].status == 2){
                var opts = {
                    width : 380,     // 信息窗口宽度
                    height: 240,     // 信息窗口高度
                    title : "<font style='font-size: 16px;font-weight:bold'>"+result[i].pointType +"</font>&nbsp;&nbsp;<img src='images/mapImg/part.png' style='width:15px;height:15px'; title='正常'>" , // 信息窗口标题
                    enableMessage:true//设置允许信息窗发送短息
                };
                var myIcon =new BMap.Icon("images/mapImg/fwwd_part.png", new BMap.Size(25, 30), { offset: new BMap.Size(0, -5),imageOffset: new BMap.Size(-5, 0) });//创建标注图标
                var marker = new BMap.Marker(new BMap.Point(result[i].x,result[i].y),{icon:myIcon});  // 创建标注
                var content ="<br><font style='font-size: 13px;'>网点名称："+result[i].pointName+"<br>网点地址："+result[i].address+"<br>网点电话："+result[i].telephone+"<br>营业范围："+result[i].service+"<br>营业时间："+result[i].date+"</font>";
                map.addOverlay(marker);               // 将标注添加到地图中
                addClickHandler(content,marker,opts);
            }else if (result[i].status == 3){
                var opts = {
                    width : 380,     // 信息窗口宽度
                    height: 240,     // 信息窗口高度
                    title : "<font style='font-size: 16px;font-weight:bold'>"+result[i].pointType +"</font>&nbsp;&nbsp;<img src='images/mapImg/close.png' style='width:15px;height:15px'; title='正常'>" , // 信息窗口标题
                    enableMessage:true//设置允许信息窗发送短息
                };
                var myIcon =new BMap.Icon("images/mapImg/fwwd_close.png", new BMap.Size(25, 30), { offset: new BMap.Size(0, -5),imageOffset: new BMap.Size(-5, 0) });//创建标注图标
                var marker = new BMap.Marker(new BMap.Point(result[i].x,result[i].y),{icon:myIcon});  // 创建标注
                var content ="<br><font style='font-size: 13px;'>网点名称："+result[i].pointName+"<br>网点地址："+result[i].address+"<br>网点电话："+result[i].telephone+"<br>营业范围："+result[i].service+"<br>营业时间："+result[i].date+"</font>";
                map.addOverlay(marker);               // 将标注添加到地图中
                addClickHandler(content,marker,opts);
            }

        }
    });


    function addClickHandler(content,marker,opts){
        marker.addEventListener("click",function(e){
            openInfo(content,e,opts)}
        );
    }
    function openInfo(content,e,opts){
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    }





    var cr = new BMap.CopyrightControl({anchor: BMAP_ANCHOR_TOP_RIGHT});   //设置版权控件位置

    var mapType = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_HYBRID_MAP]});
   // map.addControl(mapType);

    var ctrl = new BMapLib.TrafficControl({
        showPanel: false //是否显示路况提示面板
    });
    //map.addControl(ctrl);
    //ctrl.setAnchor(BMAP_ANCHOR_BOTTOM_RIGHT);

    var bs = map.getBounds();   //返回地图可视区域
    function add_control() {
        map.addControl(cr); //添加版权控件
        cr.addCopyright({
            id: 1, content: "<div href='#' style='width:210px;height:370px;background:#EFEFEF;position:relative;top:50px;'>" +
            "<table style='margin-left:3px;'><tr><td><img src='images/mapImg/custom_open.png'></td>" +
            "<td><font style='font-size:12px;color:green'>苏通卡客服中心（正常）</font></td>" +
            "<td><img src='images/mapImg/open.png'></td>" +
            "</tr>" +
            "<tr><td><img src='images/mapImg/custom_close.png'></td>" +
            "<td><font style='font-size:12px;color:red'>苏通卡客服中心（关闭）</font></td>" +
            "<td><img src='images/mapImg/close.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/custom_part.png'></td>" +
            "<td><font style='font-size:12px;color:#EE6207'>苏通卡客服中心（部分办理）</font></td>" +
            "<td><img src='images/mapImg/part.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/bld_open.png'></td>" +
            "<td><font style='font-size:12px;color:green'>苏通卡便利点（正常）</font></td>" +
            "<td><img src='images/mapImg/open.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/bld_close.png'></td>" +
            "<td><font style='font-size:12px;color:red'>苏通卡便利点（关闭）</font></td>" +
            "<td><img src='images/mapImg/close.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/bld_part.png'></td>" +
            "<td><font style='font-size:12px;color:#EE6207'>苏通卡便利点（部分办理）</font></td>" +
            "<td><img src='images/mapImg/part.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/czd_open.png'></td>" +
            "<td><font style='font-size:12px;color:green'>苏通卡充值点（正常）</font></td>" +
            "<td><img src='images/mapImg/open.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/czd_close.png'></td>" +
            "<td><font style='font-size:12px;color:red'>苏通卡充值点（关闭）</font></td>" +
            "<td><img src='images/mapImg/close.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/czd_part.png'></td>" +
            "<td><font style='font-size:12px;color:#EE6207'>苏通卡充值点（部分办理）</font></td>" +
            "<td><img src='images/mapImg/part.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/fwwd_open.png'></td>" +
            "<td><font style='font-size:12px;color:green'>一站式服务网点（正常）</font></td>" +
            "<td><img src='images/mapImg/open.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/fwwd_close.png'></td>" +
            "<td><font style='font-size:12px;color:red'>一站式服务网点（关闭）</font></td>" +
            "<td><img src='images/mapImg/close.png'></td></tr>" +
            "<tr><td><img src='images/mapImg/fwwd_part.png'></td>" +
            "<td><font style='font-size:12px;color:#EE6207'>一站式服务网点（部分办理）</font></td>" +
            "<td><img src='images/mapImg/part.png'></td></tr><table></div>", bounds: bs
        });
        //Copyright(id,content,bounds)类作为CopyrightControl.addCopyright()方法的参数
    }


    function hide_control() {
        map.removeControl(cr); //添加版权控件

    }
    //向地图中添加缩放控件
    var ctrlNav = new window.BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        type: BMAP_NAVIGATION_CONTROL_LARGE
    });
    map.addControl(ctrlNav);

    //向地图中添加缩略图控件
    var ctrlOve = new window.BMap.OverviewMapControl({
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
        isOpen: 1
    });
    map.addControl(ctrlOve);


    //向地图中添加比例尺控件
    var ctrlSca = new window.BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_LEFT
    });
    map.addControl(ctrlSca);
    var data_info = "";
    function remove_overlay(){
        smap.clearOverlays();
    }

    map.enableScrollWheelZoom(true);


</script>
